#!/usr/bin/sh

#MONITOR
xrandr --output DP-1 --mode 1920x1080
xrandr --output HDMI-1 --primary --mode 1920x1080 --right-of DP-1
xrandr --output DVI-D-0 --mode 1920x1080 --right-of HDMI-1
xrandr --output HDMI-0 --mode 1920x1080 --above HDMI-1

feh --bg-center $(find ~/Wallpaper/Wallpaper -type f | shuf -n 1)

picom -b
xbindkeys -p  # disable middle click paste!
task sync &



#process_list=(redshift-gtk lightcord ckb-next clipmenud trackma-gtk thunderbird gnome-clocks pavucontrol)
process_list=(redshift-gtk lightcord clipmenud thunderbird kdeconnect-app gnome-clocks element-desktop)

for p in "${process_list[@]}"
do
    if pgrep -x $p >/dev/null
    then
        echo "its running"
    else
        $p &
    fi
done


if pgrep protonmail >/dev/null
then
    echo "its running"
else
    protonmail-bridge --no-window &
fi

if ps aux | grep SynologyDrive | grep -v grep >/dev/null 
then
    echo "its running"
else
    synology-drive autostart &
fi


if pgrep cmus >/dev/null
then
    echo "its running"
else
    #xfce4-terminal -T cmus -e 'sh -ic "cmus; exec bash"'
    alacritty -T cmus -e 'sh -ic "cmus; exec bash"'
fi

if [ $DESKTOP_SESSION = "bspwn" ]
then
    if pgrep tint2 >/dev/null
    then
        echo "its running"
    else
        tint2 &
fi

timeshift --create --comments "Daily backup" &
#gnome-clocks --gapplication-service &

