/* :root { */
/* 	--background: #283457; */
/* 	--foreground #c0caf5; */
/* 	--black: #15161e; */
/* 	--red: #f7768e; */
/* 	--green: #9ece6a; */
/* 	--yellow: #e0af68; */
/* 	--blue: #7aa2f7; */
/* 	--purple: #bb9af7; */
/* 	--cyan: #7dcfff; */
/* 	--gray: #a9b1d6; */
/* } */
/* background #283457 */
/* foreground #c0caf5 */
/* selection_background #283457 */
/* selection_foreground #c0caf5 */
/* url_color #73daca */
/* cursor #c0caf5 */
/* cursor_text_color #283457 */
/**/
/* # Tabs */
/* active_tab_background #7aa2f7 */
/* active_tab_foreground #16161e */
/* inactive_tab_background #292e42 */
/* inactive_tab_foreground #545c7e */
/* #tab_bar_background #15161e */
/**/
/* # Windows */
/* active_border_color #7aa2f7 */
/* inactive_border_color #292e42 */
/**/
/* # normal */
/* color0 #15161e */
/* color1 #f7768e */
/* color2 #9ece6a */
/* color3 #e0af68 */
/* color4 #7aa2f7 */
/* color5 #bb9af7 */
/* color6 #7dcfff */
/* color7 #a9b1d6 */
/**/
/* # bright */
/* color8 #414868 */
/* color9 #f7768e */
/* color10 #9ece6a */
/* color11 #e0af68 */
/* color12 #7aa2f7 */
/* color13 #bb9af7 */
/* color14 #7dcfff */
/* color15 #c0caf5 */
/**/
/* # extended colors */
/* color16 #ff9e64 */
/* color17 #db4b4b */



* {
	font-size: 15px;
	/* font-family: monospace; */
	font-family: "super code pro","nerdfont";
}

window#waybar {
	background: #292b2e;
	/* background: #283457; */
	/* color: #fdf6e3; */
	color: #c0caf5;
}

#custom-right-arrow-dark,
#custom-left-arrow-dark,
#custom-left-moon-dark,
#custom-right-moon-dark {
	color: #15161e;
	/* background: #15161e; */
}
#custom-right-arrow-light,
#custom-left-arrow-light,
#custom-left-moon-light,
#custom-right-moon-light {
	/* color: #292b2e; */
	color: #283457;
	/* background: #1a1a1a; */
	background: #15161e;
}

#custom-left-moon-dark,
#custom-right-moon-dark,
#custom-left-moon-light,
#custom-right-moon-light {
  font-size: 40px;
  /* background: #15161e; */
  /* box-shadow: -5px 0px 0px 0px white; */
  /* border: 5px solid red; */
  /* border-radius: 0px 50% 50% 0px; */
  /* text-shadow: -10px 0px; */
    /* width: 200px; */
    /* need to play with margin/padding adjustment
       based on your desired "gap" */
}

#workspaces,
#mode,
#submap,
#window,
#clock.1,
#clock.2,
#clock.3,
#pulseaudio,
#memory,
#cpu,
#battery,
#disk,
#tray {
	/* background: #1a1a1a; */
	background: #15161e;
}

#workspaces button {
	padding: 0 2px;
	/* color: #fdf6e3; */
	color: #c0caf5;
}
#workspaces button.active {
	/* color: #268bd2; */
	color: #7aa2f7;
}
#workspaces button:hover {
	box-shadow: inherit;
	text-shadow: inherit;
}
#workspaces button:hover {
	/* background: #1a1a1a; */
	background: #15161e;
	border: #1a1a1a;
	padding: 0 3px;
}

#window {
	/* color: #2aa198 */
	color: #7dcfff;
}

#pulseaudio {
	/* color: #268bd2; */
	color: #7aa2f7;
}
#memory {
	/* color: #2aa198; */
	color: #7dcfff;
}
#cpu {
	/* color: #6c71c4; */
	color: #bb9af7;
}
#battery {
	/* color: #859900; */
	color: #9ece6a;
}
#disk {
	/* color: #b58900; */
	color: #e0af68;
}
#submap,
#mode {
	/* color: #f7768e  */
	color: #f7768e;
}

#clock,
#pulseaudio,
#memory,
#cpu,
#battery,
#disk {
	padding: 0 10px;
}

@keyframes blink {
  to {
    background-color: #ffffff;
    color: #000000;
  }
}

#memory.high {
  background-color: #f53c3c;
  color: #ffffff;
}

#memory.critical {
  background-color: #f53c3c;
  color: #ffffff;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#cpu.high {
  background-color: #f53c3c;
  color: #ffffff;
}

#cpu.critical {
  background-color: #f53c3c;
  color: #ffffff;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
