/**/
/* # normal */
/* color0 #15161e */
/* color1 #f7768e */
/* color2 #9ece6a */
/* color3 #e0af68 */
/* color4 #7aa2f7 */
/* color5 #bb9af7 */
/* color6 #7dcfff */
/* color7 #a9b1d6 */
/**/
/* # bright */
/* color8 #414868 */
/* color9 #f7768e */
/* color10 #9ece6a */
/* color11 #e0af68 */
/* color12 #7aa2f7 */
/* color13 #bb9af7 */
/* color14 #7dcfff */
/* color15 #c0caf5 */
/**/
/* # extended colors */
/* color16 #ff9e64 */
/* color17 #db4b4b */



* {
	font-size: 15px;
	font-family: "super code pro","nerdfont";
}

window#waybar {
	background: transparent;
}

#custom-right-arrow-dark,
#custom-left-arrow-dark,
#custom-left-moon-dark,
#custom-right-moon-dark {
	color: #15161e;
}
#custom-right-arrow-light,
#custom-left-arrow-light,
#custom-left-moon-light,
#custom-right-moon-light {
	color: #283457;
	background: #15161e;
	/* background: transparent; */
}

#custom-left-moon-dark,
#custom-right-moon-dark,
#custom-left-moon-light,
#custom-right-moon-light {
  font-size: 40px;
}

#workspaces,
#mode,
#submap,
#window,
#clock.1,
#clock.2,
#clock.3,
#pulseaudio,
#memory,
#cpu,
#battery,
#disk,
#tray {
    margin-top: 1px;
	background: #15161e;
    border-radius: 10px;
}

#workspaces,
#mode,
#submap,
#window,
#clock.1,
#clock.2,
#clock.3,
#pulseaudio,
#memory,
#cpu,
#battery,
#disk{
    margin-right: 5px;
}

#workspaces button {
	padding: 0 2px;
	/* color: #fdf6e3; */
	color: #c0caf5;
}
#workspaces button.active {
	/* color: #268bd2; */
	color: #7aa2f7;
}
#workspaces button:hover {
	box-shadow: inherit;
	text-shadow: inherit;
}
#workspaces button:hover {
	/* background: #1a1a1a; */
	background: #15161e;
	border: #1a1a1a;
	padding: 0 3px;
}

#window {
	/* color: #2aa198 */
	color: #7dcfff;
}

#pulseaudio {
	/* color: #268bd2; */
	color: #7aa2f7;
}
#memory {
	/* color: #2aa198; */
	color: #7dcfff;
}
#cpu {
	/* color: #6c71c4; */
	color: #bb9af7;
}
#battery {
	/* color: #859900; */
	color: #9ece6a;
}
#disk {
	/* color: #b58900; */
	color: #e0af68;
}
#submap,
#mode {
	/* color: #f7768e  */
	color: #f7768e;
}

#clock,
#pulseaudio,
#memory,
#cpu,
#battery,
#disk {
	padding: 0 10px;
}

@keyframes blink {
  to {
    background-color: #ffffff;
    color: #000000;
  }
}

#memory.high {
  background-color: #f53c3c;
  color: #ffffff;
}

#memory.critical {
  background-color: #f53c3c;
  color: #ffffff;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#cpu.high {
  background-color: #f53c3c;
  color: #ffffff;
}

#cpu.critical {
  background-color: #f53c3c;
  color: #ffffff;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
